<!-- SuperAdmin System Stats Widget -->
<div class="row">
  <div class="col-6">
    <div class="info-box bg-gradient-primary">
      <span class="info-box-icon"><i class="fas fa-server"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Guilds</span>
        <span class="info-box-number"><%= stats.guilds %></span>
      </div>
    </div>
  </div>
  
  <div class="col-6">
    <div class="info-box bg-gradient-success">
      <span class="info-box-icon"><i class="fas fa-users"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Benutzer</span>
        <span class="info-box-number"><%= stats.users %></span>
      </div>
    </div>
  </div>
  
  <div class="col-6">
    <div class="info-box bg-gradient-info">
      <span class="info-box-icon"><i class="fas fa-newspaper"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">News</span>
        <span class="info-box-number"><%= stats.news %></span>
      </div>
    </div>
  </div>
  
  <div class="col-6">
    <div class="info-box bg-gradient-warning">
      <span class="info-box-icon"><i class="fas fa-bell"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Notifications</span>
        <span class="info-box-number"><%= stats.notifications %></span>
      </div>
    </div>
  </div>
</div>
