<%# Documentation Section Partial %>

<section id="documentation" class="documentation section dark-background">
  <div class="container section-title" data-aos="fade-up">
    <h2>Dokumentation & Service</h2>
    <p>
      Hier findest du alle wichtigen Links rund um DuneBot.<br>
      Die Dokumentation hilft dir beim Einstieg und bei der Nutzung des Bots und Dashboards.<br>
      Die Statistiken zeigen dir, wie aktiv DuneBot in der Community ist!
    </p>
  </div>

  <div class="container">
    <div class="row gy-3">
      <div class="col-lg-12 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="documentation-content ps-0 ps-lg-3">
         <ul class="documentation-list">
           <li>
              <div class="doc-row">
                <i class="bi bi-journal-text"></i>
                <h4>DuneBot Dashboard Dokumentation</h4>
              </div>
              <p>
                <a href="https://docs.dunebot.de/dashboard" target="_blank" rel="noopener">
                  Zur Dokumentation
                </a>
              </p>
            </li>
            <li>
              <div class="doc-row">
                <i class="bi bi-journal-text"></i>
                <h4>DuneBot Bot Dokumentation</h4>
              </div>
              <p>
                <a href="https://docs.dunebot.de/bot" target="_blank" rel="noopener">
                  Zur Dokumentation
                </a>
              </p>
            </li>
             <li>
              <div class="doc-row">
                <i class="bi bi-github"></i>
                <h4>DuneBot Github</h4>
              </div>
              <p>
                <a href="https://github.com/firedervil77/dunebot" target="_blank" rel="noopener">
                  Zum Repository
                </a>
              </p>
            </li>
            <li>
              <div class="doc-row">
                <i class="bi bi-puzzle"></i>
                <h4>DuneBot Plugins</h4>
              </div>
              <p>
                <a href="https://github.com/firedervil77/dunebot-plugins" target="_blank" rel="noopener">
                  Zu den Plugins
                </a>
              </p>
            </li>
          </ul>
          <p>
            Die DuneBot Plattform wächst stetig weiter. <br />Die untenstehenden Statistiken zeigen dir, wie aktiv der Bot bereits genutzt wird.<br>
          </p>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
